# Ignore data files
#*.xlsx
*.log
__pycache__/
archive/
logs/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/
.env/
.venv/

# Ignore distribution / packaging
dist/
build/
*.egg-info/

# Ignore test and coverage files
.coverage
htmlcov/
.pytest_cache/

# Ignore editor files
.idea/
.vscode/
*.swp
*.swo

# Ignore logs and data files
data/processed/
#*.xlsx

# Ignore OS specific files
.DS_Store
Thumbs.db

.qodo
/final_output/Series26_Year1995_Processed.xlsx
/final_output/Series26_Year1996_Processed.xlsx
/final_output/Series26_Year1997_Processed.xlsx
/final_output/Series26_Year1998_Processed.xlsx
/final_output/Series26_Year1999_Processed.xlsx
/final_output/Series26_Year2000_Processed.xlsx
/final_output/Series26_Year2002_Processed.xlsx
/final_output/Series26_Year2003_Processed.xlsx
/final_output/Series26_Year2005_Processed.xlsx
/final_output/Series26_Year2006_Processed.xlsx
/final_output/Series26_Year2007_Processed.xlsx
/final_output/Series26_Year2008_Processed.xlsx
/final_output/Series26_Year2009_Processed.xlsx
/final_output/Series26_Year2010_Processed.xlsx
/final_output/Series26_Year2011_Processed.xlsx
/final_output/Series26_Year2012_Processed.xlsx
/final_output/Series26_Year2013_Processed.xlsx
/final_output/Series26_Year2014_Processed.xlsx
/final_output/Series27_Year1995_Processed.xlsx
/final_output/Series27_Year1996_Processed.xlsx
/final_output/Series27_Year1997_Processed.xlsx
/final_output/Series27_Year1998_Processed.xlsx
/final_output/Series27_Year1999_Processed.xlsx
/final_output/Series27_Year2000_Processed.xlsx
/final_output/Series27_Year2001_Processed.xlsx
/final_output/Series27_Year2002_Processed.xlsx
/final_output/Series27_Year2003_Processed.xlsx
/final_output/Series27_Year2004_Processed.xlsx
/final_output/Series27_Year2005_Processed.xlsx
/final_output/Series27_Year2006_Processed.xlsx
/final_output/Series27_Year2007_Processed.xlsx
/final_output/Series27_Year2008_Processed.xlsx
/final_output/Series27_Year2009_Processed.xlsx
/final_output/Series27_Year2010_Processed.xlsx
/final_output/Series27_Year2011_Processed.xlsx
/final_output/Series27_Year2012_Processed.xlsx
/final_output/Series27_Year2013_Processed.xlsx
/final_output/Series27_Year2014_Processed.xlsx
/data/output/comparisons/Year_1995 (Y01)_Data_comparison.xlsx
/data/output/comparisons/Year_1996 (Y02)_Data_comparison.xlsx
